.sidebar {
    border-radius: var(--border-radius-xl);
    position: fixed;
    top: 80px;
    align-self: flex-start;
    margin-left: -6.45rem;
    margin-top: 10.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background: #fff;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 20rem;
    max-width: 100%;
    max-height: 80vh; /* Ограничение по высоте для активации прокрутки */
    height: auto;
    overflow-y: auto; /* Вертикальная прокрутка при необходимости */
    overflow-x: hidden; /* Горизонтальная прокрутка скрыта */
    scrollbar-width: none; /* Скрытие скроллбара для Firefox */
    border: 1px solid #f0f0f0;
    z-index: 100;
}

/* Стилизация скроллбара для WebKit-браузеров (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
    width: 6px; /* Ширина скроллбара */
}

.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет трека */
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #888; /* Цвет ползунка */
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}

.sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 1rem;
}

.resetButton {
    width: 90px;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-md);
    border: none;
    background: rgb(255, 50, 50);
    color: white;
    cursor: pointer;
    transition: all var(--transition-fast);
}

.resetButton:hover {
    background: rgb(255, 25, 25);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select__control {
    border-radius: 8px !important;
    min-height: 38px !important;
}

.select__menu {
    z-index: 9999 !important;
}

.filterButton {
    width: 8rem;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-md);
    border: 1px solid #ccc;
    background: var(--color-inactive);
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
}

.filterButtonLangStat {
    width: 8rem;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-md);
    border: 1px solid #ccc;
    background: var(--color-inactive);
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
}

.filterGroup {
    font-size: var(--font-size-lg);
}

.active {
    background: var(--color-primary);
    color: white;
    font-weight: 400;
}

.sidebarText {
    margin-top: -0.5rem;
}

@media (max-width: 1024px) {
    .sidebar {
        position: static;
        width: 100%;
        margin-bottom: 20px;
        max-height: none;
    }
}