.courseItem {
    background-color: var(--color-elem-background);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    /*max-width: 600px;*/
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

.archived {
    background-color: #f2f2f2;
    opacity: 0.7;
}

.dearchiveButton {
    background-color: #999;
}

.dearchiveButton:hover {
    background-color: #777;
}

.description :global(.wmde-markdown) {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff !important; /* white background */
    color: #000 !important; /* black text */
    padding: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.courseItem.deleting {
    transform: scale(0.9);
    opacity: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
}

.title {
    font-size: 24px;
    margin-bottom: 12px;
    color: var(--color-primary);
}

.info {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

.description {
    margin-top: 12px;
    font-size: 15px;
    color: #444;
    line-height: 1.4;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.toggleButton {
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggleButton:hover {
    background-color: #349918;
}

.deleteButton {
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #ff4444;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #cc0000;
}

@media (max-width: 768px) {
    .courseItem {
        padding: 15px;
        margin-bottom: 15px;
    }
    
    .title {
        font-size: 20px;
    }
    
    .info, .description {
        font-size: 14px;
    }
    
    .buttonsContainer {
        flex-direction: column;
        gap: 8px;
    }
    
    .toggleButton, .deleteButton {
        font-size: 16px;
        padding: 8px 0;
    }
}