.filterBarContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    overflow-x: auto;
    background-color: var(--color-elem-background);
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}

.filterBarContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.filterGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.filterLabel {
    font-weight: 600;
    font-size: 14px;
    color: #444;
    margin-right: 0.25rem;
}

.filterButton {
    padding: 10px 20px;
    background-color: var(--color-inactive);
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.filterButton.active {
    background: var(--color-primary);
}

.filterButton:hover:not(.active) {
    background-color: #aaa;
}

.reactSelect {
    min-width: 180px;
    max-width: 220px;
    font-size: 14px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
    justify-content: center;
}

.tabButton {
    padding: 12px 24px;
    background-color: var(--color-inactive); /* Inactive default */
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tabButton.active {
    background: var(--color-primary); /* Active = green gradient */
}

.tabButton:hover:not(.active) {
    background-color: #aaa; /* Hover for inactive */
}

