.header {
    display: flex;
    justify-content: space-between;

    /* Увеличен padding сверху */
    padding: 1rem 1rem 1rem 1rem;

    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



.logoutButton {
    padding: 8px 16px 8px 16px;
    font-size: 15px;
    border-radius: 8px;

    background-color: #d00;
    color: white;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.email {
    margin-top: 4px; /* можно варьировать, например 4–6px */
}

