/* outer white card */
.container {

    border-radius: 8px;
    background-color: white;
    padding: 16px;
    margin-bottom: 16px;
    /* Скрыть скроллбар */
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE 10+ */

}

/* Для Chrome, Edge, Safari */
.list::-webkit-scrollbar {
    display: none;
}
/* heading above list */
.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 12px;
    user-select: none;
}

/* scrollable list area */
.list {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px); /* adjust as needed */
    overflow-y: auto;
    gap: 8px;
}
