.wrapper {
    height: 100vh; /* занимает весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main-background); /* например, светло-серый фон */
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}


.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: var(--color-input-field);
}

.modeButtons {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 5px 0;
    justify-content: center;
}

.modeButton {
    flex: 1; /* чтобы кнопки равномерно распределялись */
    min-width: 120px; /* минимальная ширина, чтобы текст помещался */
    padding: 12px 0; /* вертикальный padding для увеличения высоты */
    font-size: 20px; /* увеличенный размер шрифта */
    border-radius: 8px;
    cursor: pointer;
    border: none;
    min-height:  40px;
    transition: background-color 0.3s ease;
}

.active {
    background-color: var(--color-primary);
}

.inactive {
    background-color: var(--color-inactive);
}

.continueButton {
    margin-top: 3px;
    padding: 10px;
    width: 100%;
    min-height:  40px;
    background-color: var(--color-primary);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}


.error {
    color: red;
    margin-top: 10px;
}