.wrapper {
    height: 100vh; /* занимает весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main-background); /* фон страницы */
}